APP_NAME="Shineray Rio Branco"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=shineray
DB_USERNAME=shineray
DB_PASSWORD=shineray

# Loja
STORE_NAME="Arroxa Motores - Shineray Acre"
STORE_ADDRESS="Via Chico Mendes, 1640 - Triângulo Velho, Rio Branco/AC"
STORE_PHONE="(68) 3224-1815"
STORE_WHATSAPP="556832241815"
STORE_EMAIL="financeiro@arroxamotores.com.br"
STORE_INSTAGRAM="shinerayacre"
